/* import custom variables */
@import "modules/custom_variables";

/* import bootstrap sass */
@import "node_modules/bootstrap/scss/bootstrap";

// @import 'node_modules/owl.carousel/dist/assets/owl.carousel.css';

@import "node_modules/owl.carousel/src/scss/owl.carousel";
@import "node_modules/owl.carousel/src/scss/owl.theme.default";

/* import font awesome */
@import "./imports/font-awesome/fontawesome";

/* import checkbox */
// @import "imports/checkbox/awesome-bootstrap-checkbox.scss";


/*****************************************************
//													//
//  					DEFAULT						//
//													//
*****************************************************/
html, body {
	height: 100%;
}

body {
	color: #000;
	// font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	// font-family: 'Sanford', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-family: 'Open Sans Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin: 0;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Sanford';
}

a {
	color: #000;
	
	&:hover {
		color: $text_hover;
		text-decoration: none;
	}

	&.blog-grid-category:hover {
		color: $text_hover;
		background: black;
	}	
}

/**
 * Wordpress Default Image Alignment Style
 */
img.alignright {
	float: right;
	margin: 0 0 1em 1em;
}
img.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}
img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignright {
	float: right;
}
.alignleft {
	float: left;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-full {
	width: 100%;
}

.btn-site {
	color: #ffffff;
	border-width: 1px;
	background-color: #ed6e00;
	border-color: #ed6e00;
	padding: 12px 20px;
	font-family: 'Sanford';
	font-size: 36px;
	font-weight: 600;
	line-height: 1;
	border-radius: 20px;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: darken(#ed6e00, 10%);
		color: #fff;
	}

	&:focus {
		background-color: darken(#ed6e00, 20%);
		color: #fff;
	}

	&.pink {
		background: #ff4564;
		border-color: #fff;

		&:hover {
			background-color: darken(#ff4564, 10%);
			color: #fff;
		}

		&:focus {
			background-color: darken(#ff4564, 30%);
			color: #fff;
		}
	}

	&.blue {
		background: #006bb5;
		border-color: #006bb5;
		color: #fff;

		&:hover {
			background-color: lighten(#006bb5, 10%);
			color: #fff;
		}

		&:focus {
			background-color: darken(#006bb5, 10%);
			color: #fff;
		}
	}

	&.white {
		background: #fff;
		border-color: #ed6e00;
		color: #ed6e00;

		&:hover {
			background-color: lighten(#ed6e00, 10%);
			color: #fff;
		}

		&:focus {
			background-color: darken(#ed6e00, 10%);
			color: #fff;
		}
	}

	&.subs {
		background: transparent;
		color: #fff;
		font-size: 18px;
		border: 0;
		border-bottom: 1px solid #fff;
		border-radius: 0;
		font-weight: normal;

		&:hover {
			background-color: lighten(#333, 10%);
			color: #fff;
		}

		&:focus {
			background-color: darken(#333, 10%);
			color: #fff;
		}
	}
}

.go-fancy {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background: rgba(0,0,0,0.341176);
    color: #fff;
    top: 5px;
	right: 5px;
	
	i {
		transform: rotate(-45deg);
	}
}

.form-control {
	border-radius: 0;
}

.bootstrap-datetimepicker-widget {
	font-size: 14px;

	.fa.fa-clock-o {
		&:before {
			content: '\f017';
			font-family: 'Font Awesome 5 Free';
		}
	}

	.table th, .table td {
		border: 0;
	}

	.table {
		>tbody>tr>td, 
		>tbody>tr>th, 
		>tfoot>tr>td, 
		>tfoot>tr>th, 
		>thead>tr>td, 
		>thead>tr>th {
			padding: 5px;
		}
	}
}

.block-title {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 18px;
	font-weight: 900;
	line-height: 20px;
	text-transform: uppercase;
	color: #14181c;
	overflow: hidden;

	span {
		display: inline-block;
		position: relative;

		&:after {
			left: 100%;
			margin-left: 15px;
			content: "";
			position: absolute;
			height: 1px;
			width: 2000px;
			background-color: #a5abb7;
			top: 10px;
		}
	}
}

.wp-block-image figcaption {
	margin-top: 10px;
    font-size: 14px;
}
// .checkbox input[type="checkbox"]:checked+label::after {
// 	@extend .fas;
// 	top: 5px;
// 	content: '\f00c' !important;
// }

.has-icon {
	position: relative;

	select {
		-webkit-appearance: none;
	}

	.form-control {
		padding-right: 50px;
		background-color: transparent !important;
		position: relative;
		z-index: 2;
	}

	.form-control-icon {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		z-index: 1;
	}
}

.checkbox, .radio {
	padding-left: 10px;
}

.bootstrap-datetimepicker-widget table td.disabled, 
.bootstrap-datetimepicker-widget table td.disabled:hover {
	color: #bdb7b7;
}

.table-borderless {
	th, td {
		border: 0;
	}
}

.form-notification {
	p {
		margin: 0;
	}
}

.error-404 {
	padding: 30px 0;
}

.default-page-content {
	min-height: 200px;
	padding: 30px 0;
}

/*Chrome, Safari, Opera */
@-webkit-keyframes mySticky {
	from {
		margin-top:-200px;
	}
	to {
		margin-top:0;
	}
}
   
/*Standard syntax */
@-moz-keyframes mySticky {
	from {
		margin-top:-200px;
	}
	to {
		margin-top:0;
	}
}

/*Standard syntax*/
@keyframes mySticky {
	from {
		margin-top:-200px;
	}
	to {
		margin-top:0;
	}
}

#cart-link {
	position: fixed;
    bottom: 90px;
    right: 10px;
	width: 60px;
    height: 60px;
    line-height: 57px;
    z-index: 1;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #f48800;
    border-radius: 35px;
	border: 3px solid #fff;
	
	.cart-counter {
		right: -5px;
		border: 2px solid #fff;
		line-height: 22px;
	}
}

.whatsapp-btn {
	.web, 
	.api
	{
		font-size: 28px;
		border-radius: 50%;
		color: #fff;
		background-color: #4ded69;
		display: inline-block;
		width: 60px;
		height: 60px;
		line-height: 57px;
		text-align: center;
		position: fixed;
		z-index: 1;
		bottom: 20px;
		right: 10px;
		border: 3px solid #fff;
	}

	.web {
		display: none;
	}

	.api {
		display: block;
	}
}


.cart-counter {
	position: absolute;
	top: -5px;
	right: -10px;
	line-height: 25px;
	text-align: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #ff1d1d;
	font-size: 12px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

.go-to-arrow {
	display: inline-flex;
	align-items: center;

	&:hover {
		i {
			color: $text_hover;
		}
	}

	i {
		font-size: 32px;
		margin-left: 10px;
		color: #d0d7d9;
	}
}

.pagination-wrapper {
	text-align: center;
	margin-top: 30px;

	.inner-pagination-wrapper {
		display: inline-block;

		.pagination {
			@extend .pagination;
			text-align: center;
			margin: 0;

			li {
				@extend .page-item;
				
				&:first-child span {
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}
			}

			a, span {
				@extend .page-link;
				border: 2px solid #b1b1b1;
				padding: 0 15px;
				margin: 0 3px;
				color: #fff;
				border-radius: 5px;
				font-size: 18px;
				font-weight: bold;
				background-color: #b1b1b1;
				line-height: 46px;
				width: 50px;
				height: 50px;

				&:hover {
					background-color: darken(#b1b1b1, 10%);
					border: 2px solid #b1b1b1;
					color: #fff;
				}
			}
		}
	}
}

.social-media-links {
	margin-bottom: 15px;
	@extend .list-inline;

	li {
		@extend .list-inline-item;
	}

	.social-media {
		margin-top: 5px;
		font-size: 14px;
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		padding: 0;
		border-radius: 50%;
		background-color: #000;
		color: #fff;
	}
}

/*****************************************************
//													//
//  					HEADER 						//
//													//
*****************************************************/
#header-wrapper {
	&.fixed {
		.bottom-header {
			position: fixed;
			width: 100%;
			top: 0;
			background: #fff;
			z-index: $zindex-fixed;
			animation: mySticky 1s;
			
			.navbar-brand {
				display: block;
			}
	
			.navbar-toggler {
				display: block;
			}
		}

		.navbar-light {
			.navbar-nav {
				.nav-link {
					font-size: 12px;
				}
			}
		}
	}

	.top-header {
		padding: 10px 0 15px;

		.header-logo {
			display: block;

			img {
				height: 90px;
			}
		}

		.header-logo-wrapper {
			@extend .d-flex;
			@extend .justify-content-between;
		}
	}

	.bottom-header {
		border-top: 2px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;

		.form-container {
			margin-right: 0;
		
			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #e9e9e9;
			}
			::-moz-placeholder { /* Firefox 19+ */
				color: #e9e9e9;
			}
			:-ms-input-placeholder { /* IE 10+ */
				color: #e9e9e9;
			}
			:-moz-placeholder { /* Firefox 18- */
				color: #e9e9e9;
			}
			
			form {
				
				.input-group {
					width: 100%;
				}
				
				[type="search"] {
					background: #fff;
					border-right: 0;
					color: #000;
					border-color: #e9e9e9;
					border-radius: 4px 0 0 4px;
		
					&:focus,
					&:active {
						box-shadow: none;
					}
				}
		
				.input-group-text {
					background: #fff;
					color: #000;
					border-color: #e9e9e9;
					border-left: 0;
				}
			}
		}
		
		.navbar-brand {
			display: none;
		}

		.navbar-toggler {
			display: none;
		}

		.navbar {
			padding: 0;

			.dropdown-menu {
				padding: 0;
				border-radius: 0;
				border: 0;
				width: 100%;
				margin-bottom: 10px;

				.menu-item {
					&:active,
					&:focus,
					&.active {
						> a {
							background-color: #000;
							color: #fff;
						}
					}

					&:hover {
						> a {
							background-color: #404040;
							color: #fff;
						}
					}
				}

				.dropdown-item {
					font-size: 14px;
					padding: 8px 24px;
					color: #333;
				}
			}
		}

		#second-menu {
			.nav-item {
				&:last-child {
					.nav-link {
						margin-right: 0;
					}	
				}
				.nav-link {
					margin-right: 5px;

					&.social-media {
						margin-top: 5px;
						font-size: 14px;
						
						&.rss {
							font-size: 16px;
							padding: 3px 6px;
						}

						&.social-media {
							width: 32px;
							height: 32px;
							line-height: 32px;
							text-align: center;
							padding: 0;
							border-radius: 50%;
							background-color: #000;
							color: #fff;
						}
					}
				}
			}
		}
	}

	.section {
		&.addddd-section {
			padding: 0;
			text-align: center;
			// display: inline-block;
			// float: right;
			
			.section-title {
				color: #bababa;
				margin-bottom: 10px;
				font-size: 10px;
				text-align: center;
				font-family: 'Gotham Medium';
			}

			img {
				// height: 90px;
				height: auto;
				width: auto;
			}
		}
	}

	.current-date {
		font-family: 'Gotham Book';
		font-size: 14px;
		text-align: right;
		margin-top: 10px;
	}

	.navbar-light {
		.navbar-nav {
			.active {
				.nav-link {
					color: #000;
				}
			}
			.nav-link {
				// font-family: 'Gotham Medium';
				font-family: 'Open Sans';
				font-size: 18px;
				padding-left: 0;
				padding-right: 0;
				color: #333;
			}
		}
	}
}

/*****************************************************
//													//
//  					CONTENT						//
//													//
*****************************************************/

#content-wrapper {
	.not-found {
		min-height: 300px;
		text-align: center;

		.page-header {
			margin-top: 30px;
		}
	}

	.toolbar {
		text-align: center;

		.display-counter {
			margin-bottom: 10px;
		}

		.sort-selection {
			float: none !important;
			

			.btn-group {
				button {
					padding: 10px 50px 10px 20px;
					border: 1px solid #888;
					color: #1b1d1f;
					font-weight: bold;
					position: relative;

					&:after {
						position: absolute;
						right: 15px;
						top: 46%;
					}
					
					&:hover,
					&:focus {
						text-decoration: none;
					}
				}
				
				.label {
					color: #999;
				}

				.sort {
					color: #444;
					margin-left: 10px;
				}
			}
		}
	}
}

.page-section {
	padding: 50px 0;

	.header-banner-wrapper {
		padding-bottom: 30px;

		.header-banner {
			.post-title {
				font-family: 'Sanford';
				// font-size: 50px;
				font-size: 40px;
				text-align: center;
			}

			.post-subtitle {
				text-align: center;
				font-size: 18px;
				font-family: 'Open Sans';
			}

			.category-title {
				font-family: 'Gotham Bold';
				font-size: 15px;
				text-transform: uppercase;
				text-align: center;
				margin-bottom: 20px;
				letter-spacing: 8px;
			}

			.post-attributes {
				font-family: 'Open Sans';
				font-size: 12px;
				text-align: center;

				ul {
					margin-bottom: 0;
					@extend .list-inline;
					
					li {
						@extend .list-inline-item;
					}
				}
			}
		}
	}

	.page-banner-wrapper {
		margin-bottom: 40px;
	}

	.color-box {
		padding: 75px 20px;
		color: #fff;
	}

	.page-content-wrapper {
		.page-content {
			text-align: justify;
			padding: 0 0 40px;
			position: relative;

			.container {
				padding: 0;
			}

			.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
				padding-right: 20px;
				padding-left: 20px;
			}

			h1, h2, h3, h4, h5, h6 {
				text-align: left;
			}

			.strikethrough {
				position: relative;
				margin-top: 50px;
				margin-bottom: 25px;
				padding-left: 20px;
				padding-right: 20px;

				.custom-text {
					background: #fff;
					display: inline-block;
					position: relative;
					z-index: 2;
					margin: 0;
					font-weight: bold;
					padding: 0 10px;
				}

				&:before {
					content: '';
					position: absolute;
					width: 100%;
					height: 1px;
					left: 0;
					top: 50%;
					background: #000;
					z-index: 1;
				}
			}

			hr {
				border-top: 1px solid #000;
			}

			.content-image,
			.image-content {
				@extend .img-fluid;
				@extend .w-100;
				@extend .mb-4;
				@extend .mt-2;

				img {
					@extend .img-fluid;
					@extend .w-100;
				}

				&.mb-0 {
					margin-bottom: 0 !important;
				}
			}

			dl, ol, ul {
				margin-bottom: 25px;
			}

			h1, h2, h3, h4, h5, h6,
			.h1, .h2, .h3, .h4, .h5, .h6 {
				margin-top: 50px;
				margin-bottom: 25px;
			}

			p,
			blockquote {
				margin-bottom: 30px;
				line-height: 1.5;

				a {
					color: #0ca1ea;

					&:hover {
						color: darken(#0ca1ea, 10%);
					}
				}
			}

			table {
				font-size: 16px;
				text-align: left;
			}

			blockquote {
				p {
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}	
				}
			}

			.share-buttons {
				left: 35px;
				text-align: center;

				ul {
					@extend .list-inline;

					li {
						@extend .list-inline-item;
					}
				}

				.share-link {
					padding: 5px 10px;
					display: block;
					border: 2px solid #f5f5f5;
					color: #505050;
					margin-bottom: 10px;

					&:hover,
					&:active, 
					&:focus {
						border: 2px solid #e3e3e3;
						background-color: #eee;
						color: #333;
					}

					.social-icon {
						display: inline-block;
						font-size: 18px;
					}

					span {
						display: inline-block;
						font-size: 14px;
					}
				}
			}

			ol,
			ul {
				> li {
					margin-bottom: 5px;
				}
			}
		}
	}

	.media-object-list {
		.media-object {
			display: flex;
			flex-direction: row;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #ececec;

			.media-thumb {
				flex: 0 0 80px;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}

			.media-detail {
				display: flex;
				flex-direction: column;
				height: 100%;
				font-size: 15px;
				padding-left: 10px;
				padding-right: 3px;
				
				.media-title {
					margin-bottom: 5px;
					font-family: 'Sanford';
					line-height: 1;
				}

				.author {
					.name {
						font-size: 12px;
						font-family: 'Gotham Medium';
					}

					.field-job {
						font-family: 'Gotham Book';
						font-size: 12px;
					}
				}
			}
		}
	}

	.sidebar-wrapper {
		.sidebar {
			margin-bottom: 60px;

			&.ad {
				.sidebar-title {
					font-size: 10px;
					text-align: center;
					margin-bottom: 10px;
					font-family: 'Gotham Medium';
				}

				.sidebar-content {
					text-align: center;
				}
			}

			&.doctor {

				.avatar {
					border-radius: 50%;
					overflow: hidden;
					display: inline-block;				
				}

				.doctor-name {
					font-size: 20px;
				}

				.job-title {
					margin-bottom: 20px;
				}

				.address {
					font-size: 16px;
				}

				a {
					font-weight: bold;
				}
			}

			&.featured {
				.related-posts {
					padding: 0;
				}
			}

			&.specialist-opinion {
				.sidebar-title {
					margin-bottom: 30px;
				}

				.media-thumb {
					height: 100px;
				}

				.media-object-list .media-object .media-detail .media-title {
					font-size: 20px;
					margin-bottom: 20px;
				}

				.media-object-list .media-object .media-detail .author .name {
					font-size: 12px;
				}
			}

			&.carousel {
				margin-bottom: 40px;
			}

			.sidebar-navigation-wrapper {
				// float: right;
				margin-top: 5px;

				.sidebar-navigation {
					display: inline-block;
					font-size: 26px;
					line-height: 1;
					vertical-align: middle;
					color: #ced5d7;
					cursor: pointer;

					&:hover {
						color: #656565;
					}
				}
			}

			.sidebar-title {
				font-size: 20px;
				margin-bottom: 10px;
				font-family: 'Open Sans Semibold';
			}
		}
	}
}

.breadcrumbs-wrapper {
	padding: 40px 0;
	background: #f2f6f7;
	text-align: left;
	font-family: 'Gotham Medium';
	font-size: 14px;
}

.section {
	padding: 60px 0;

	.section-title {
		position: relative;
		font-size: 48px;
		text-align: center;
		font-family: 'Sanford';
		margin-bottom: 70px;

		&.strikethrough {
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #d6dadb;
				// margin-bottom: 40px;
			}
		}

		&.style-2 {
			font-family: 'Gotham Bold';
			font-size: 20px;
			letter-spacing: 2px;
			text-transform: uppercase;
			
			span {
				// padding: 0 80px;
				padding: 0 50px;
			}
		}

		span {
			position: relative;
			display: inline-block;
			background-color: #fff;
			padding: 0 20px;
			z-index: 1;
		}
	}
}

.post-category {
	font-family: 'Roboto';
}

.read-more {
	font-size: 22px;
	color: #000;
	font-family: 'BigcaslonFB';
	
	a {
		color: #000;

		&:hover {
			color: $text_hover;
		}
	}
}

.featured-post,
.grid-post,
.list-post {
	.post-thumbnail-block {
		margin-bottom: 20px;
	}

	.post-thumbnail {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 400px;
		margin-bottom: 20px;
		border-radius: 5px;
		overflow: hidden;
		
		img {
			width: 100%;
		}
	}

	.post-detail-wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;

		.post-title {
			font-family: 'Sanford';
			// font-size: 50px;
			font-size: 40px;
			line-height: 1;
			margin-bottom: 5px;
		}

		.post-data-attribute {
			.reading-time, 
			.post-category {
				font-size: 16px;
			}
		}
	
		.post-detail {
			padding: 10px 0 25px 0;
		}

		.post-excerpt {
			margin-bottom: 25px;
			text-align: justify;
			word-break: break-word;
		}
	}
}

.other-posts,
.related-posts {
	border-top: 1px solid #d2d2d2;
	padding-top: 25px;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
	
	.other-posts-caption {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.other-post-wrapper {
		// height: 100%;
		// margin-bottom: 30px;
	}

	.other-post {
		position: relative;
		height: 400px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		// height: 400px;
		border-radius: 5px;
		overflow: hidden;
		margin-bottom: 30px;

		&:before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			@include gradient-y(transparent, rgba(0, 0, 0, 0.8), 0, 100%);
		}

		&:hover {
			&:before {
				background: rgba(0, 0, 0, 0.7);
			}
		}

		.other-post-detail {
			position: absolute;
			bottom: 15px;
			left: 15px;
			color: #fff;

			.other-post-title {
				font-family: 'Sanford';
				font-size: 28px;
				padding-right: 10px;
				line-height: 1.2;
			}

			.other-post-category {
				font-size: 16px;
				margin-top: 5px;
			}

			.other-post-date {
				font-size: 16px;
				margin-top: 5px;
			}
		}
	}

	.reading-time {
		font-size: 14px;
		color: #fff;
		position: absolute;
		top: 15px;
		right: 15px;
	}
}

.related-posts {
	border-top: 0 !important;
	margin-top: 0 !important;
	padding-top: 0 !important;
}

.specialization-text {
	font-family: 'Sanford';
	font-size: 40px;
	line-height: 1;
	margin-bottom: 10px;
}

.addddd-section {
	background-color: #eef2f3;
	padding: 50px 0 60px;

	&.white-bg {
		background-color: #fff;
	}

	.section-title {
		font-size: 10px;
		text-align: center;
		margin-bottom: 20px;
		font-family: 'Gotham Medium';
	}

	img {
		width: 100%;
	}
}

.slider-section {
	margin: 25px 0;
	padding: 0;
	position: relative;
	
	.slider-navigation {
		width: 120px;
		position: absolute;
		bottom: 90px;
		z-index: 1;
		display: none;

		&.prev {
			left: 0;
			text-align: left;
		}

		&.next {
			right: 0;
			left: auto;

			.nav-block {
				text-align: right;
				justify-content: flex-end;
				align-items: flex-end;
			}
		}

		.nav-block {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.nav-icon {
				font-size: 36px;
				color: #fff;
				margin-bottom: 10px;
			}
			
			.nav-caption {
				color: #fff;

				.post-category {
					font-family: 'Gotham Medium';
					font-size: 10px;
					text-transform: uppercase;
					margin-bottom: 15px;
				}

				.post-title {
					font-family: 'Sanford';
					font-size: 16px;
					line-height: 1.2;
				}
			}
		}
	}

	.owl-item.center {
		.slider-item {
			.slide-content {
				display: block;
			}

			.loading-bar-container {
				display: block;
			}
		}
	}

	.slider-item {
		background-position: center;
		background-size: cover;
		height: 550px;
		width: 100%;
		position: relative;
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include gradient-y(transparent, rgba(0, 0, 0, 0.8), 0, 100%);
		}

		.loading-bar-container {
			display: none;
			position: absolute;
			top: 0;
			width: 100%;
			height: 7px;
			left: 0;

			.loading-bar {
				position: absolute;
				top: 0;
				left: 0;
				width: 0%;
				background: #da0000;
				height: 100%;
				z-index: 1;
				border-radius: 0;
			}
		}

		.slide-content {
			position: absolute;
			bottom: 50px;
			left: 30px;
			padding-right: 30px;
			color: #fff;
			display: none;

			.post-category {
				font-family: 'Gotham Medium';
				font-size: 12px;
				text-transform: uppercase;
				position: relative;
				padding-bottom: 10px;
				margin-bottom: 10px;
				
				&:before {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 50px;
					height: 1px;
					background: #fff;
				}
			}

			.post-title {
				font-family: 'Sanford';
				// font-size: 50px;
				font-size: 40px;
				line-height: 1;
				width: 80%;
				margin-bottom: 10px;
			}

			.post-author {
				font-size: 14px;
				font-style: italic;
			}
		}
	}
}

.subscribe-section {
	// background: #2b2b2b url('dist/images/diamond-pattern.jpg') repeat-x center top;
	background-color: #2b2b2b;
	padding: 60px 0;
	color: #fff;
	text-align: center;
	font-family: 'Sanford';

	.section-title {
		line-height: 1;
		margin-bottom: 15px;
		font-size: 34px;
	}

	.section-subtitle {
		margin-bottom: 15px;
		font-size: 16px;
	}
}

.embed-responsive-21by9{
	&:before {
		padding-top: 17.85714%;
	}
}

.featured-blog-post-section,
.featured-health-post-section {
	.section-title {
		font-size: 26px;
		margin-bottom: 10px;
	}
	
	.post-thumbnail {
		position: relative;
		height: 100%;
		border-radius: 5px;
		overflow: hidden;

		.post-thumbmail-img {
			height: 400px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;

			img {
				display: none;
			}

			&:after {
				content: '';
				background-image: url('./dist/images/featured-specialist-badge.png');
				width: 130px;
				height: 130px;
				background-size: contain;
				background-repeat: no-repeat;
				z-index: 2;
				position: absolute;
				bottom: -40px;
				right: 20px;
			}
		}

		.thumbnail-content-wrapper {
			// position: absolute;
			bottom: 0;
			z-index: 1;
			color: #000;
			// padding: 30px;
			padding: 30px 0 0;
			// padding-right: 100px;
		}

		img {
			width: 100%;
		}
	}

	.post-detail {
		height: 100%;
		border-top: 1px solid #a1a1a1;
		border-bottom: 1px solid #a1a1a1;
		padding: 40px 0;
		margin-top: 30px;

		.post-category {
			float: left;
			font-family: 'Gotham Bold';
			font-size: 15px;
			text-transform: uppercase;
			letter-spacing: 5px;
		}

		.reading-time {
			float: none;
			font-size: 16px;
			margin-bottom: 10px;
		}

		.post-title {
			font-family: 'Sanford';
			// font-size: 40px;
			font-size: 36px;
			line-height: 1;
			margin: 10px 0;
		}

		.post-author {
			font-family: 'Gotham Light Italic';
			font-size: 15px;
		}

		.post-excerpt {
			margin-top: 30px;
			font-size: 18px;
			text-align: justify;
		}
	}
}

.featured-health-post-section {
	
	.post-thumbnail {

		.post-thumbmail-img {
			&:after {
				content: none;
			}
		}
	}
}

.related-articles-section {
	.section-title {
		margin-bottom: 40px;
	}
}

.specialist-opinions-section,
.related-articles-section,
.doctor-panel-section-wrapper {
	background-color: #f2f6f7;

	&.doctor-panel-section {
		background-color: transparent;
		
		.opinion {
			.opinion-thumbnail {
				flex: 0 0 280px;
				background-position: center;
			}
			
			.opinion-detail {
				.opinion-title {
					margin-bottom: 15px;
				}
				
				.opinion-author {
					align-items: flex-start;

					.author-detail {
						padding: 0;
					}
				}
			}
		}

		.specialist-opinions {
			margin-top: 10px;
		}

		.opinion-outer-wrapper {
			margin-bottom: 40px;
		}
	}

	.section-title {
		line-height: 1;
	}

	.section-title span {
		background-color: #f2f6f7;
	}

	.section-subtitle {
		text-align: center;
	}

	.opinion-outer-wrapper {
		margin-bottom: 20px;
	}
	
	.opinion-wrapper {
		height: 100%;
		background-color: #fff;
		box-shadow: 1px 1px 2px #d8d8d8;
		border-radius: 3px;
		// margin-bottom: 20px;
	}

	.opinion {
		height: 100%;
		display: flex;
		// margin-bottom: 25px;
		flex-direction: column;

		.opinion-thumbnail {
			// width: 300px;
			flex: 0 0 250px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.opinion-detail {
			padding: 20px;
			display: flex;
			flex-direction: column;
			height: 100%;
			word-break: break-word;
			
			.opinion-title {
				font-size: 24px;
				font-family: 'Sanford';
				letter-spacing: -.5px;
				line-height: 1.2;
				margin-bottom: 25px;
			}

			.opinion-author {
				display: flex;
				height: 100%;
				align-items: flex-end;
				@extend .clearfix;

				.author-thumbnail {
					border-radius: 80px;
					overflow: hidden;

					img {
						width: 100%;
					}
				}

				.author-detail {
					padding-left: 20px;

					.author-name {
						font-family: 'Gotham Medium';
						font-size: 15px;
					}
					
					.author-position {
						font-family: 'Gotham Book';
						font-size: 16px;
						color: #6e6e6e;
					}
				}
			}
		}
	}

	.specialist-opinions {
		margin-top: 30px;
	}
}

.specialist-opinions-section {
	.opinion {
		.opinion-detail {
			.opinion-author {
				.author-thumbnail {
					img {
						height: 80px;
						width: 80px;
					}
				}
			}
		}
	}
}

.food-section,
.grid-section,
.list-section {
	.featured-post,
	.grid-post,
	.list-post {

		.post-thumbnail {
			height: 400px;
			margin-bottom: 30px;
			margin-right: 0;
		}
		
		.other-posts {
			.other-posts-caption {
				text-align: center;
				margin: 20px 0 50px;
			}

			.other-post {
				height: 350px;
			}
		}
	}
}

.list-section {
	padding-top: 20px;

	.list-item {
		padding-bottom: 50px;
		margin-bottom: 50px;
		padding: 0 20px 50px;
		border-bottom: 1px solid #ccc;

		&:first-child {
			padding-top: 50px;
			border-top: 1px solid #ccc;
		}
	}
}

.grid-section {
	padding: 0;
}

.banner-section {
	background-color: #f2f6f7;

	.medical-doctors-banner {
		border-radius: 5px;
		box-shadow: 0px 0px 2px #a2a2a2;
		overflow: hidden;

		.top-section {
			background-image: url('./dist/images/medical-doctors-banner-bg.jpg');
			background-position: top right;
			background-repeat: no-repeat;
			padding: 30px 10px 0 10px;
			background-size: cover;
			text-align: center;

			.tag-line {
				font-family: 'Sanford';
				font-size: 32px;
				line-height: 1.3;
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}

		.bottom-section {
			background-color: #000;
			padding: 35px;
			color: #fff;
			font-size: 18px;

			.desk-bell {
				display: none;
			}

			a {
				color: #fff;
				font-size: 22px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}




/*****************************************************
//													//
//  					FOOTER						//
//													//
*****************************************************/

#footer-wrapper {
	background-color: #222;
	padding: 40px 0;
	color: #fff;

	a {
		color: #fff;
	}

	.top-post-list {
		@extend .clearfix;

		a {
			&:hover {
				.top-post .post-title {
					text-decoration: underline;
				}
			}
		}

		.top-post-outer {
			margin-bottom: 30px;

			.top-post {

				.post-image {
					margin-bottom: 10px;
					height: 150px;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
				}

				.post-title {
					line-height: 1.2;
				}

				.post-author {
					color: #4f4f4f;
				}
			}
		}
	}

	.top-footer {
		margin-bottom: 40px;

		.section-title {
			margin-bottom: 20px;
		}
	}

	.botton-footer {
		font-family: 'Gotham Medium';
		font-size: 14px;
		text-transform: uppercase;
		padding: 10px 0;

		ul {
			margin-bottom: 0;
		}

		a {
			&:hover {
				text-decoration: underline;
			}
		}

		.social-media-links {
			text-align: center;
			margin-top: 20px;

			.social-media {
				margin-top: 0;
				background: #fff;
				color: #333;
			}
		}
	}

	.footer-links {
		text-align: center;
		
		ul {
			@extend .list-inline;

			> li {
				@extend .list-inline-item;
			}
		}
	}
}

/*****************************************************
//													//
//  			RESPONSIVE MODULES					//
//													//
*****************************************************/

// Small devices (landscape phones, 576px and up)
@import "modules/landscape_phones";

// Medium devices (tablets, 768px and up)
@import "modules/tablets";

// Large devices (desktops, 992px and up)
@import "modules/desktops";

// Extra large devices (large desktops, 1200px and up)
@import "modules/large_desktops";

// Extra large devices (large desktops, 1400px and up)
// @import "modules/xxlarge_desktops";