@media (min-width: 992px) {
    body.logged-in #header-wrapper.fixed .bottom-header {
        padding-top: 32px;
    }

    .slider-section .slider-navigation {
        display: block;
    }

    .slider-section .slider-item .slide-content {
        left: 40px;
        padding-left: 40px;
    }

    .slider-section .slider-item .slide-content .post-title {
        font-size: 50px;
    }

    .banner-section .medical-doctors-banner .top-section {
        text-align: left;
        padding-left: 30px;
    }

    .page-section .sidebar-wrapper .sidebar.doctor.offset-top {
        margin-top: -100px;
    }
    
    #header-wrapper .bottom-header .form-container form {
        margin: 12px 15px 12px 0;
        width: 140px;
    }

    #header-wrapper .bottom-header #second-menu .social-media-links {
        margin: 6px 0 0;
    }

    .banner-section .medical-doctors-banner .top-section .tag-line {
        font-size: 32px;
        margin-bottom: 0;
    }

    .banner-section .medical-doctors-banner .bottom-section .desk-bell {
        display: block;
        margin-top: -80px;
    }

    .specialist-opinions-section.doctor-panel-section .opinion .opinion-thumbnail {
        flex: 0 0 220px;
    }

    .subscribe-section .section-title {
        font-size: 48px;
    }

    .subscribe-section .section-subtitle {
        font-size: 22px;
    }

    .grid-section .grid-post .post-thumbnail {
        height: 300px;
    }

    .featured-post .post-thumbnail,
    .grid-post .post-thumbnail {
        margin-right: 10px;
        height: 100%;
    }

    .food-section .featured-post .right-bordered, 
    .grid-post .right-bordered {
        border-right: 1px solid #d2d2d2;
    }

    .featured-post .right-bordered .post-detail-wrapper,
    .grid-post .right-bordered .post-detail-wrapper {
        padding: 0 10px 0 0;
    }

    .featured-post .post-detail-wrapper {
        padding: 0 0 0 10px;
    }

    .featured-post .post-detail-wrapper .post-title {
        font-size: 36px;
    }

    .grid-post .post-detail-wrapper .post-title {
        font-size: 26px;
    }

    .grid-post .post-detail-wrapper {
        padding: 0;
    }

    .list-section .list-post .post-thumbnail {
        margin-bottom: 0;
    }

    .featured-post .other-posts .other-post,
    .grid-post .other-posts .other-post,
    .food-section .featured-post .other-posts .other-post {
        margin-bottom: 0;
        height: 300px;
    }

    .featured-post .other-posts .other-post .other-post-detail .other-post-title,
    .grid-post .other-posts .other-post .other-post-detail .other-post-title {
        font-size: 22px;
    }

    #footer-wrapper .footer-links {
        text-align: left;
    }

    .specialist-opinions-section .opinion {
        flex-direction: row;
    }

    .specialist-opinions-section .opinion .opinion-thumbnail {
        flex: 0 0 200px;
    }

    .specialist-opinions-section .opinion .opinion-detail .opinion-title {
        font-size: 22px;
        margin-bottom: 35px;
    }

    .featured-blog-post-section .post-detail,
    .featured-health-post-section .post-detail {
        margin-top: 0;
    }

    .featured-blog-post-section .post-thumbnail,
    .featured-health-post-section .post-thumbnail {
        margin-right: 20px;
    }

    .featured-blog-post-section .post-thumbnail .post-thumbmail-img,
    .featured-health-post-section .post-thumbnail .post-thumbmail-img {
        height: 100%;
    }

    #header-wrapper .bottom-header .navbar-brand {
        display: none;
    }

    #header-wrapper {
        &.fixed {
            .bottom-header {
                .navbar-toggler {
                    display: none;
                }
            }
        }

        .top-header {
            padding: 15px 0 10px;
            
            .header-logo {
                display: block;
    
                img {
                    height: 130px;
                }
            }
    
            .navbar-toggler {
                display: none;
            }
        }

        .bottom-header {
            .navbar {
                padding: 8px 0;
            }

            .navbar-toggler {
                display: none;
            }
        }
    }

    .featured-blog-post-section .post-detail .post-title,
    .featured-health-post-section .post-detail .post-title {
        font-size: 50px;
    }

    #header-wrapper .section.addddd-section {
        display: inline-block;
        float: right;
    }

    .slider-section .slider-item {
        width: 600px;
        height: 500px;
        border-radius: 10px;
        overflow: hidden;
    }

    #header-wrapper .navbar-light .navbar-nav .nav-link {
        font-size: 12px;
        padding-left: 14px;
        padding-right: 14px;
        font-family: 'Gotham Medium';
    }

    #header-wrapper.fixed .navbar-light .navbar-nav .nav-link {
        font-size: 12px;
    }

    #header-wrapper .bottom-header .navbar .dropdown-menu {
        border: 1px solid #a5a5a5;

        .menu-item {
            border-bottom: 1px solid #e6e6e6;

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    #footer-wrapper .botton-footer .social-media-links {
        float: right;
        margin-top: 0px;
        text-align: right;
    }

    .page-section .sidebar-wrapper .sidebar .sidebar-navigation-wrapper {
        float: none;
    }

    .page-section .page-content-wrapper .page-content {
        padding: 0 20px 0 110px;
    }

    .page-section .page-content-wrapper.sotm-wrapper {
        .page-content {
            // padding: 0 150px;
            padding: 0 80px;

            .share-buttons {
                // left: 85px;
                left: 20px;
            }
        }
    }

    .page-section .media-object-list .media-object .media-thumb {
        flex: 0 0 80px;
    }

    .page-section .media-object-list .media-object .media-detail .media-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .breadcrumbs-wrapper {
        text-align: right;
    }

    .page-section .page-content-wrapper .page-content .share-buttons {
        text-align: left;
        position: absolute;

        ul {
            li {
                display: block;
            }
        }

        .share-link {
            width: 44px;
            height: 44px;
            line-height: 44px;
            border-radius: 10px;
            text-align: center;
            padding: 0;

            span {
                display: none;
            }
        }
    }
}