@media (min-width: 576px) {
	
}

@media (max-width: 576px) {
	.custom-text {
        &.text-1 {
            span {
                font-size: 28px !important;
            }
        }

        &.text-2 {
            span {
                font-size: 22px !important;
            }
        }
    }
}