@media (min-width: 1200px) {
    .container {
		max-width: 1360px;
    }
    
    .slider-section .slider-navigation {
        width: 200px;

        &.next {
            .nav-block {
                .nav-icon {
                    margin: 0 0 0 20px;
                    order: 2;
                }

                .nav-caption {
                    order: 1;
                }
            } 
        }

        .nav-block {
            flex-direction: row;
            align-items: center;
    
            .nav-icon {
                margin: 0 20px 0 0;
            }
        }
    }

    .page-section .page-content-wrapper.sotm-wrapper {
        .page-content {
            padding: 0 120px;

            .share-buttons {
                left: 35px;
            }
        }
    }

    .page-section .page-content-wrapper .page-content .custom-text.text-1 {
        font-size: 40px;
    }

    .specialist-opinions-section .specialist-opinions .opinion-wrapper {
        min-height: 240px;
    }

    .related-articles-section .opinion-wrapper, .specialist-opinions-section .opinion-wrapper {
        min-height: 300px;
    }

    .specialist-opinions-section.doctor-panel-section .opinion .opinion-thumbnail {
        flex: 0 0 250px;
    }

    #header-wrapper.fixed .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
    }

    #header-wrapper .bottom-header .form-container form {
        width: auto;
    }

    #header-wrapper .navbar-light .navbar-nav .nav-link {
        font-size: 15px;
        padding-left: 22px;
        padding-right: 22px;
    }
    
    .banner-section .medical-doctors-banner .top-section .tag-line {
        font-size: 42px;
    }

    .banner-section .medical-doctors-banner .bottom-section .desk-bell {
        margin-top: -130px;
    }

    .featured-post .post-thumbnail, 
    .grid-post .post-thumbnail{
        margin-right: 20px;
    }

    .featured-post .post-thumbnail {
        min-height: 500px;
    }

    .featured-post .post-detail-wrapper .post-title {
        font-size: 50px;
    }

    .grid-post .post-detail-wrapper {
        padding: 0;
    }

    .food-section .featured-post .other-posts .other-post {
        height: 400px;
    }

    .grid-post .post-detail-wrapper .post-title {
        font-size: 30px;
    }

    .featured-post .post-detail-wrapper{
        padding: 0 0 0 20px;
    }

    .featured-post .other-posts .other-post, 
    .grid-post .other-posts .other-post{
        height: 350px;
    }

    #header-wrapper .top-header .header-logo img {
        height: 130px;
    }
    
    .featured-post .other-posts .other-post .other-post-detail .other-post-title,
    .grid-post .other-posts .other-post .other-post-detail .other-post-title {
        font-size: 28px;
    }
    
    .featured-post .right-bordered .post-detail-wrapper{
        padding-right: 20px;
    }

    .specialist-opinions-section .opinion .opinion-thumbnail {
        flex: 0 0 250px;
    }

    .specialist-opinions-section .opinion .opinion-detail .opinion-title {
        font-size: 26px;
    }

    .slider-section .slider-item {
        width: 750px;
    }

    .page-section .media-object-list .media-object .media-thumb {
        flex: 0 0 100px;
    }

    .page-section .media-object-list .media-object .media-detail .media-title {
        font-size: 18px;
    }

    .page-section .page-content-wrapper .page-content {
        padding-right: 40px;
    }

    .page-section .header-banner-wrapper .header-banner .post-title {
        font-size: 70px;
    }

    .page-section .sidebar-wrapper .sidebar .sidebar-navigation-wrapper {
        float: right;
    }
}