@media (min-width: 601px) {
	
}

@media (min-width: 768px) {
    body.logged-in #header-wrapper.fixed .bottom-header {
        padding-top: 46px;
    }

    #header-wrapper .section.addddd-section img {
        height: 90px;
    }

    #content-wrapper .toolbar .display-counter {
        margin-bottom: 0;
        text-align: left;
    }

    #content-wrapper .toolbar .sort-selection {
        float: right !important;
    }

    .page-section .sidebar-wrapper .sidebar .sidebar-navigation-wrapper {
        margin-top: 0;
        float: right;
    }
    
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .subscribe-section .section-title {
        font-size: 42px;
    }

    .subscribe-section .section-subtitle {
        font-size: 20px;
    }

    .featured-post .post-detail-wrapper .post-title {
        font-size: 36px;
    }

    .featured-post .post-thumbnail {
        margin-right: 0;
        height: 500px;
    }

    .grid-section .grid-post .post-thumbnail {
        margin-right: 0;
        margin-bottom: 0;
        height: 250px;
    }

    .page-section .page-content-wrapper .page-content .custom-text.text-1 {
        font-size: 30px;
    }

    .grid-post .post-detail-wrapper .post-title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .featured-blog-post-section .post-detail .reading-time,
    .featured-health-post-section .post-detail .reading-time {
        float: right;
    }

    .featured-blog-post-section .section-title,
    .featured-health-post-section .section-title {
        display: none;
    }

    .featured-blog-post-section .post-thumbnail,
    .featured-health-post-section .post-thumbnail {
        &:before {
            content: '';
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include gradient-y(transparent, rgba(0, 0, 0, 0.2), 0, 100%);
        }
    }

    .featured-blog-post-section .post-detail .post-title,
    .featured-health-post-section .post-detail .post-title {
        font-size: 40px;
    }

    .page-section .header-banner-wrapper {
        padding-bottom: 40px;
    }

    .page-section .media-object-list .media-object .media-thumb {
        flex: 0 0 150px;
    }

    .page-section .media-object-list .media-object .media-detail .media-title {
        font-size: 20px;
        margin-bottom: 25px;
    }

    #header-wrapper.fixed .navbar-light .navbar-nav .nav-link,
    #header-wrapper .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
    }

    .page-section .media-object-list .media-object .media-detail .author .name, 
    .page-section .media-object-list .media-object .media-detail .author .field-job {
        font-size: 14px;
    }

    .featured-blog-post-section .post-thumbnail .post-thumbmail-img,
    .featured-health-post-section .post-thumbnail .post-thumbmail-img {
        height: 500px;
        // height: auto;
        
        img {
            // display: block;
        }
        
        &:after {
            top: 20px;
            width: 150px;
            height: 150px;
        }
    }

    .featured-blog-post-section .post-thumbnail .thumbnail-content-wrapper,
    .featured-health-post-section .post-thumbnail .thumbnail-content-wrapper {
        position: absolute;
        padding: 0 20px 20px;
        color: #fff;
    }

    .slider-section .slider-item {
        // width: 100%;
    }
}

@media (min-width: 769px) {
	
}

@media (max-width: 768px) {
	
}

@media (min-width: 576px) and (max-width: 768px) {
	.custom-text {
        &.text-1 {
            span {
                font-size: 30px !important;
            }
        }

        &.text-2 {
            span {
                font-size: 26px !important;
            }
        }
    }
}